rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow public read access to user profiles.
      allow read: if true;
      // Disallow writes from the client for now.
      allow write: if false;
    }
  }
}
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allows anyone to read/write while you are prototyping
    // IMPORTANT: Change this before you go live!
    match /{document=**} {
      allow read, write: if true;
    }
  }
}